.image {
    background-color: #f8f8f8;
    word-wrap: break-word; 
    float: left;
    margin-left: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(153,153,153,0.44);
    -moz-box-shadow: 0px 0px 4px 0px rgba(153,153,153,0.44);
    box-shadow: 0px 0px 4px 0px rgba(153,153,153,0.44);
    position: relative;
    width: 200px;
    margin-top: 11px;
    height: 230px;
    text-align: center;
    overflow: hidden;
}
.imageIn {
    background-color: white;
    margin: auto;
    border-radius: 5px;
    width: 180px;
    margin-top: 10px;
    height: 210px;
    overflow: hidden;
}